<!DOCTYPE html>
<html lang="en">
    <head><title><%= title %></title></head>
    <body>
		"locals" implicit variable (maintitle): <%= locals.maintitle %> <br>
		"locals" implicit variable (title): <%= locals.title %> <br>
		"locals" implicit variable (students): <%= JSON.stringify(locals.students) %> <br>
        Course title (escaped): <%= title %> <br>
        Course title (unescaped): <%- title %> <br>
        <br>
        Class roster
        <ul>
        <% for (const s of students) { %>
            <li><%= s.name %> (<%= s.gpa %>)</li>
		<% } %>
		
		<% for (let i = 0; i < 5; i++) { %>
			* <%= i %>
		<% } %>
<br>
		Newline trim mode
		<% for (let i = 0; i < 5; i++) { %>
			** <%= i -%>
		<% } %>
<br>
		white space trim mode
		<% for (let i = 0; i < 5; i++) { %>
			*** <%= i  _%>           ||
		<% } %>
        </ul>
    </body>
</html>